:root {
  --btn-bg-color: #e50914;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  color: #333;
  background-color: #f3f3f3;
  margin: 0;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.4fr 2fr .5fr;
  grid-template-areas: 
  "nav nav nav nav"
  "main main main main"
  "footer footer footer footer";
}

.footer {
  grid-column: footer;
}